---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<url>
  <loc>https://digital-search.netlify.app/</loc>
  <lastmod>2022-06-18T21:32:27+00:00</lastmod>
  <priority>1.00</priority>
</url>
<url>
  <loc>https://digital-search.netlify.app/posts/</loc>
  <lastmod>2022-06-18T21:32:27+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://digital-search.netlify.app/posts/thirdpost/</loc>
  <lastmod>2022-06-18T21:32:27+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://digital-search.netlify.app/tags/sam-ryder/</loc>
  <lastmod>2022-06-18T21:32:27+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://digital-search.netlify.app/posts/secondpost/</loc>
  <lastmod>2022-06-18T21:32:27+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://digital-search.netlify.app/posts/firstpost/</loc>
  <lastmod>2022-06-18T21:32:27+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://digital-search.netlify.app/tags/event-2022/</loc>
  <lastmod>2022-06-18T21:32:27+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://digital-search.netlify.app/tags/</loc>
  <lastmod>2022-06-18T21:32:27+00:00</lastmod>
  <priority>0.64</priority>
</url>
</urlset>